{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

  * {
      font-family: 'Patrick Hand', cursive;
      font-size: 20px;
  }

  body {
      height: 100vh;
      background: #242424;
      color: wheat;
  }

  .container {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: auto;
      height: 80%;
      width: 100%;
  }

  .headersign {
      font-weight: 900;
  }

  form {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
  }
  .form-group {
    width: 700px;
  }
  .content {
      width: 100%;
  }
</style>
<form method="POST">
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
